# Entornos virtuales
venv/
.venv/
env/
*.env

# Archivos de Bytecode y Caches de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de PyInstaller
build/
dist/
*.spec

# Base de datos
estudiantes.db

# Reportes generados
*.xlsx
*.csv
*.pdf

# Archivos de configuración de IDEs/Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos del sistema operativo
.DS_Store
Thumbs.db