# Entornos virtuales
venv/
env/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de la base de datos
estudiantes.db

# Archivos generados por PyInstaller
dist/
build/
*.spec

# Archivos de configuración de IDEs comunes
.idea/
.vscode/